In [46]:
import pandas as pd
import numpy as np #import numpy library, used for arithmetic
from sklearn.model_selection import train_test_split #mpodule that allow us to split our train and test sets
from sklearn.svm import SVC #the machine learning classifier model

In [47]:
df = pd.read_csv('data1.csv',sep=",")  #read the csv file
df.head() #show the 5 first rows of the dataframe

   Temperature  Relative Humidity    Mood
0           28                  47  HAPPY
1           28                  49  HAPPY
2           28                  49  HAPPY
3           28                  49  HAPPY
4           28                  48  HAPPY

In [48]:
df['Mood'].value_counts() #this method inspect the count for each value in a column

HAPPY    86
SAD      74
Name: Mood, dtype: int64

In [49]:
#This function will map the corresponding UP, DOWN, HORIZONTAL keyword to numerical values
def moodToNumber(x):
  if x=='HAPPY':
    return 1
  elif x=='SAD':
    return 2
  else:
    return 3

df['Mood'] = df['Mood'].apply(moodToNumber) #apply command will apply a function to a whole vector
df.head() #let's see the result

   Temperature  Relative Humidity   Mood
0           28                  47     1
1           28                  49     1
2           28                  49     1
3           28                  49     1
4           28                  48     1

In [50]:
labels = np.array(df.pop('Mood')) #extract the label column and convert it into numpy ndarray
features = np.array(df) #convert our dataframe into numpy ndarray

In [51]:
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2])

In [52]:
features

array([[28, 47],
       [28, 49],
       [28, 49],
       [28, 49],
       [28, 48],
       [28, 48],
       [28, 48],
       [28, 48],
       [29, 46],
       [30, 42],
       [31, 40],
       [32, 36],
       [32, 33],
       [32, 32],
       [32, 33],
       [32, 34],
       [32, 35],
       [32, 38],
       [31, 40],
       [30, 42],
       [30, 44],
       [29, 46],
       [29, 48],
       [29, 50],
       [29, 49],
       [29, 45],
       [28, 46],
       [28, 46],
       [28, 46],
       [28, 47],
       [28, 48],
       [29, 45],
       [29, 47],
       [29, 46],
       [29, 46],
       [29, 45],
       [30, 42],
       [30, 39],
       [30, 39],
       [30, 38],
       [30, 36],
       [31, 37],
       [30, 39],
       [30, 43],
       [29, 48],
       [29, 45],
       [29, 46],
       [29, 48],
       [29, 45],
       [28, 47],
       [28, 49],
       [28, 49],
       [28, 49],
       [28, 51],
       [28, 51],
       [28, 45],
       [29, 45],
       [30, 39],
       [31, 37],
       [31, 35],
       [32, 34],
       [32, 34],
       [33, 34],
       [32, 35],
       [31, 42],
       [31, 36],
       [30, 38],
       [30, 41],
       [29, 45],
       [29, 46],
       [29, 46],
       [29, 46],
       [29, 45],
       [28, 46],
       [28, 48],
       [28, 51],
       [28, 52],
       [28, 49],
       [28, 51],
       [29, 49],
       [30, 44],
       [31, 39],
       [31, 37],
       [30, 39],
       [30, 42],
       [31, 37],
       [32, 32],
       [32, 31],
       [32, 33],
       [31, 35],
       [31, 38],
       [30, 42],
       [29, 45],
       [29, 46],
       [29, 48],
       [29, 50],
       [29, 50],
       [29, 50],
       [29, 52],
       [28, 52],
       [28, 49],
       [28, 50],
       [28, 52],
       [29, 47],
       [30, 42],
       [31, 38],
       [32, 36],
       [32, 33],
       [32, 32],
       [32, 31],
       [33, 30],
       [32, 30],
       [32, 31],
       [31, 38],
       [31, 41],
       [30, 44],
       [29, 45],
       [29, 45],
       [29, 46],
       [29, 49],
       [29, 50],
       [29, 51],
       [28, 49],
       [28, 50],
       [28, 51],
       [28, 50],
       [28, 49],
       [29, 45],
       [30, 41],
       [31, 38],
       [30, 40],
       [31, 44],
       [32, 43],
       [32, 46],
       [32, 44],
       [32, 44],
       [32, 44],
       [30, 43],
       [30, 42],
       [29, 47],
       [29, 47],
       [29, 47],
       [29, 47],
       [29, 46],
       [29, 47],
       [29, 46],
       [28, 47],
       [28, 47],
       [28, 48],
       [28, 48],
       [28, 48],
       [29, 45],
       [30, 40],
       [30, 38],
       [31, 36],
       [30, 40],
       [30, 41],
       [30, 42],
       [30, 41],
       [30, 42]])

In [53]:
#Split the dataset into training set 85% and test set 15%
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.15,shuffle=True)

In [54]:
model = SVC(gamma=0.001) #lets instanciate our model

In [55]:
model.fit(train_features, train_labels) #we train our model

SVC(gamma=0.001)

In [56]:

print("Accuracy for the model : {} %".format(100*round(model.score(test_features,test_labels),2))) #we verify the accuracy of our model

Accuracy for the model : 100.0 %

In [57]:
!pip install micromlgen

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: micromlgen in /usr/local/lib/python3.7/dist-packages (1.1.28)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from micromlgen) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->micromlgen) (2.0.1)

In [58]:
from micromlgen import port

In [59]:
LABELS = ['HAPPY','SAD'] #our existing labels
classMap = {} #create an empty dict
for i, label in zip(range(2),LABELS): #interate over the range and the labels at the same time 
  classMap[i]=label #fill our dict

print(classMap)

{0: 'HAPPY', 1: 'SAD'}

In [60]:
c_code = port(model,classmap=classMap) #convert our model

#Let's write it into a .h file
modelFile = open("model.h", "w")
modelFile.write(c_code)
modelFile.close()

#Let's print the size of the .h file
import os
model_h_size = os.path.getsize("model.h")
print(f"Header file, model.h, is {model_h_size:,} bytes.")
print("\nOpen the side panel (refresh if needed). Double click model.h to download the file.")

Header file, model.h, is 8,002 bytes.

Open the side panel (refresh if needed). Double click model.h to download the file.