In [1]:
import pandas as pd
import numpy as np #import numpy library, used for arithmetic
from sklearn.model_selection import train_test_split #mpodule that allow us to split our train and test sets
from sklearn.svm import SVC #the machine learning classifier model

In [2]:
df = pd.read_csv('final_data.csv',sep=",")  #read the csv file
df.head() #show the 5 first rows of the dataframe

   Temperature  Relative Humidity   Moisture   Mood
0           28                  47       100  HAPPY
1           28                  49       130  HAPPY
2           28                  49       160  HAPPY
3           28                  49       190  HAPPY
4           28                  48       210  HAPPY

In [3]:
df['Mood'].value_counts() #this method inspect the count for each value in a column

SAD      12
HAPPY     9
Name: Mood, dtype: int64

In [4]:
def moodToNumber(x):
  if x=='HAPPY':
    return 1
  elif x=='SAD':
    return 2
  else:
    return 3

df['Mood'] = df['Mood'].apply(moodToNumber) #apply command will apply a function to a whole vector
df.head() #let's see the result

   Temperature  Relative Humidity   Moisture  Mood
0           28                  47       100     1
1           28                  49       130     1
2           28                  49       160     1
3           28                  49       190     1
4           28                  48       210     1

In [5]:
labels = np.array(df.pop('Mood')) #extract the label column and convert it into numpy ndarray
features = np.array(df) #convert our dataframe into numpy ndarray

In [6]:
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
features

array([[ 28,  47, 100],
       [ 28,  49, 130],
       [ 28,  49, 160],
       [ 28,  49, 190],
       [ 28,  48, 210],
       [ 28,  48, 240],
       [ 28,  48, 270],
       [ 28,  48, 300],
       [ 29,  46, 330],
       [ 30,  42, 650],
       [ 31,  40, 680],
       [ 32,  36, 700],
       [ 32,  33, 710],
       [ 32,  32, 720],
       [ 32,  33, 730],
       [ 32,  34, 740],
       [ 32,  35, 750],
       [ 32,  38, 760],
       [ 31,  40, 770],
       [ 30,  42, 780],
       [ 30,  44, 790]])

In [8]:
#Split the dataset into training set 85% and test set 15%
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.15,shuffle=True)

In [9]:
model = SVC(gamma=0.001) #lets instanciate our model

In [11]:
model.fit(train_features, train_labels) #we train our model

SVC(gamma=0.001)

In [12]:

print("Accuracy for the model : {} %".format(100*round(model.score(test_features,test_labels),2))) #we verify the accuracy of our model

Accuracy for the model : 100.0 %

In [13]:
!pip install micromlgen

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting micromlgen
  Downloading micromlgen-1.1.28.tar.gz (12 kB)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from micromlgen) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->micromlgen) (2.0.1)
Building wheels for collected packages: micromlgen
  Building wheel for micromlgen (setup.py) ... done
  Created wheel for micromlgen: filename=micromlgen-1.1.28-py3-none-any.whl size=32172 sha256=e42ffec63e580e423225569df1dbe1ff96a8f8cc61dbb74a5a572459aab9b50b
  Stored in directory: /root/.cache/pip/wheels/6f/98/43/0860b692737af546b9262a8b60ec3690c8bdc51c25e545ae09
Successfully built micromlgen
Installing collected packages: micromlgen
Successfully installed micromlgen-1.1.28

In [14]:
from micromlgen import port

In [15]:
LABELS = ['HAPPY','SAD'] #our existing labels
classMap = {} #create an empty dict
for i, label in zip(range(2),LABELS): #interate over the range and the labels at the same time 
  classMap[i]=label #fill our dict

print(classMap)

{0: 'HAPPY', 1: 'SAD'}

In [16]:
c_code = port(model,classmap=classMap) #convert our model

#Let's write it into a .h file
modelFile = open("model.h", "w")
modelFile.write(c_code)
modelFile.close()

#Let's print the size of the .h file
import os
model_h_size = os.path.getsize("model.h")
print(f"Header file, model.h, is {model_h_size:,} bytes.")
print("\nOpen the side panel (refresh if needed). Double click model.h to download the file.")

Header file, model.h, is 3,424 bytes.

Open the side panel (refresh if needed). Double click model.h to download the file.